:root{
   --black-color:#222222;
   --gray-color:#666666;
   --lightorange-color:#FD8D3A;
   --white-color:#ffffff;
   --lightgray-color:#999999;
   --darkgray-color:#444444;
   --bg-color:#FEFCFB;
   --darkoronge-color:#FA7436;
   }

/* universal sector */
*,::before,::after{

    box-sizing: border-box;
}

.body{
    font-family: "poppins" , sans-serif;
    background-color: var(--bg-color);
    margin: 0;
}

.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}

.headmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    top: 0;
    padding: 36px 0;
    z-index: 50;
   
}

nav ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-weight: bold;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
    font-family: "poppins",sans-serif;

}

.headmenu.logo{
    align-items: center;
    font-family: "volkhov" sans-serif;
    font-size: larger;
    font-weight: bold;

}

.color.orange{
    color: #FD8D3A;
    margin-left: 60px;
    font-weight: 800;
}
.btn.orange{
    padding: 16px 50px;
    border-radius: 5px;
    color: var(--bg-color);
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    background: #FA7436;
}

.herosection{
    display: flex;
    height: 55vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    position: relative;
}
.herosection.left{
    padding-bottom: 10%;

}
.herosection.left h1{
    font-family: "volkhov" sans-serif;
    font-weight:bold ;
    font-size: 50px;
    width: 450px;
    line-height: 125%;
    padding-top: 2%;
    margin-bottom: 0;
}
.herosection.left h1 span{
    color: #FA7436;
}


.herosection.left p {
    font-family: "poppins" sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 450px;
    color: #666666;
}

.herosection.left.discover-btn{
    padding: 16px 50px;
    border: 2px solid #FA7436;
    border-radius: 5px;
    color: #FA7436;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    margin-top: 10%;
}

.herosection.right{
    align-self: flex-end;
    }

.right img{
    padding-top: 5%;
    display: flex;
    width: 450px;
    height: 450px;
    left: 200%;
    vertical-align: center;

}  

.achivement-cards{
    position: absolute;
    min-width: 200px;
    color: var(--black-color);
}

.rightaero{
    width: 100%;
    border-radius: 10px;
}

.rightaero img{
    background-repeat: no-repeat;
    position: absolute;
    top: 12%;
    left: 45%;
    transform: translateX(100%,900%);
    width: 730px;
    height: 170px;
    object-fit: cover;
}
.heroimg{
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin-top: -80px;
    left: 52%;
    transform: translate(-37%,134%);
    height: 230px;
    width: 450px;
    border-radius: 0 0 220px 220px;
    background-color: var(--darkoronge-color);

}

.achivemnet-card{
    position: absolute;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.achivemnet-card img{
    width: 25px;
    height: 30px;
    margin-right: 10px;
    margin-top: -5px;

}

.achivemnet-card-awards{
    top: 16%;
    left: 143%;
    width: 36%;
}
.achivemnet-card-customer-review{
    top: 55%;
    left: 160%;
    width: 50%;
}
.achivemnet-card-explore{
    top: 45%;
    left: 230%;
    width: 45%;
}
.search-bar{
    display: flex;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-width: 750px;
    width: 100%;
    justify-content: center;
    margin-left: 30%;
    margin-top: 60px;
    margin-bottom: 10%;
}
.search-bar.location{
    margin-right: 20px;
    flex: 1;
    text-align: center;

}
.search-bar.location:last-child{
    margin-right: 0;
}